# App Settings
PORT=3000
NODE_ENV=development

# NIS Database
DB_NIS_HOST=127.0.0.1
DB_NIS_PORT=3306
DB_NIS_USER=root
DB_NIS_PASSWORD=
DB_NIS_NAME=nis_db

# Dashboard Database
DB_DASHBOARD_HOST=127.0.0.1
DB_DASHBOARD_PORT=3306
DB_DASHBOARD_USER=root
DB_DASHBOARD_PASSWORD=
DB_DASHBOARD_NAME=dashboard_db
